#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked --bin frihart

override_dh_auto_test:
	cargo test --release --locked --workspace

override_dh_auto_install:
	install -D -m 0755 target/release/frihart debian/frihart/usr/bin/frihart
	install -D -m 0644 packaging/linux/org.frihart.Frihart.desktop \
		debian/frihart/usr/share/applications/org.frihart.Frihart.desktop
