[Desktop Entry]
Type=Application
Name=Frihart
GenericName=Web Browser
Comment=Libertarian privacy browser. LibreWolf stance. Black and yellow.
Exec=frihart %u
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=frihart
Keywords=browser;privacy;librewolf;container;
Icon=web-browser
